@font-face {
    font-family: 'fonts';
    src: url('../fonts/fonts-Black.eot');
    src: url('../fonts/fonts-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts-Black.woff') format('woff'),
        url('../fonts/fonts-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'fonts';
    src: url('../fonts/fonts-BlackItalic.eot');
    src: url('../fonts/fonts-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts-BlackItalic.woff') format('woff'),
        url('../fonts/fonts-BlackItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'fonts';
    src: url('../fonts/fonts-Medium.eot');
    src: url('../fonts/fonts-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts-Medium.woff') format('woff'),
        url('../fonts/fonts-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'fonts';
    src: url('../fonts/fonts-MediumItalic.eot');
    src: url('../fonts/fonts-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts-MediumItalic.woff') format('woff'),
        url('../fonts/fonts-MediumItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'fonts2';
    src: url('../fonts/fonts2-Bold.eot');
    src: url('../fonts/fonts2-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fonts2-Bold.woff') format('woff'),
        url('../fonts/fonts2-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}





