/* Bootstrap theme customized with Pinegrow Web Editor */
/* Vars go before the @import */
/* Import the Bootstrap files */

// Brand Colors
$blue: #0068fc;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fbb325;
$yellow: #f8ec00;
$green: #00aa2d;
$teal: #20c997;
$cyan: #40b7fd;
$white: #fff;
$gray-100: #f6f8ff;
$gray-200: #E2EEFF;
$gray-300: #dee2e6;
$gray-400: #DBDBDB;
$gray-500: #c3c6cf;
$gray-600: #989eb2;
$gray-700: #495057;
$gray-800: #5b6482;
$gray-900: #434f78;
$gray-1000: #151C26;
$gray-1100: #2A3748;


$blue-light: #01E3FB;
$blue2:      #40B7FD;
$cyan2:      #2DE8FC;
$light2:     #F3F3F3;




$box-shadow: #00255A;

$grays: ();
// stylelint-disable-next-line scss/dollar-variabl
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-900,
    "blue-light": $blue-light
  ),
  $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$text-muted:    $gray-500;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "orange":     $orange,
    "yellow":     $yellow,
    "white":      $white,
    "gray-dark":  $gray-900,
    "gray-dark-2": $gray-1100,
    "gray-light": $gray-200,
    "blue-light": $blue-light,
    "blue2":      $blue2
  ),
  $theme-colors
);
@import "fonts";

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:              1rem; // Assumes the browse, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$border-radius:                     0.5rem;


/* TermsFeed 4.0 */
/**
 * Switches
 */
/* No security info */
/* No header */
/**
 * Override
 */
body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base ;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-800;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cl {
    clear: both;
}
h1.title {
    font-weight: 600;
    line-height: 34px;
    font-size: 30px;
    margin: 0;
    padding: 40px 0 0 0;
    text-align: center;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: $gray-900;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1.125rem;
}



p.download {
    text-align: center;
    margin: 0;
    padding: 30px 0 10px 0;
    font-size: 16px;
}
#wrap {
    display: block;
    width: 100%;
}
#logo {
    background: url('logo.png') no-repeat 0 0;
    background-size: contain;
    width: 240px;
    height: 40px;
    margin-top:15px;
    h3 {
        text-indent: 0;
        font-size: 0;
        margin: 0;
        display: block;
        width: 294px;
        height: 49px;
        a {
            display: block;
            width: 182px;
            height: auto;
        }
    }
}
#page {
    width: 730px;
    margin: 0 auto;
    position: relative;
}
#head-security {
    text-align: right;
    background: url(fs_secure-ordering.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 45px
}
a {
  color: $primary;
  -webkit-text-decoration: text-underline;
          text-decoration: text-underline;
  background-color: transparent;
  font-weight: 600;
  color:$primary;
}

a:hover {
  color: #0048b0;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
#head {
    clear: both;
}
#guide {
    color: #000;
}
#content {
    position: relative;
}
.ns {
    #head-security {
        display: none;
    }
}
.nh {
    #head {
        display: none;
    }
}
.store-order-action-list {
    li {
        white-space: normal !important;
    }
}
 .core-form-field-label {
        label {
            
        font-weight: bold;
        }
    }
.core-form-field-required {

}
.core-form-field-group {
    + {
        .core-form-field-group {
            margin-top: 2em;
        }
    }
}
.core-form-field-label {
    margin-bottom: 16px;
}
form {
    input {
        font-family: $font-family-sans-serif;
        color:$gray-700;
        font-weight: 400;
        padding: 10px 10px;
        border: 1px solid $gray-400;
        border-top-color: $gray-400;
        border-radius:$border-radius/3;
        box-shadow: none !important;
    }
    label {
        font-size: 14px;
        line-height: 19px;
    }
}
.core-form-field {
    margin: 0 0 15px 0;
        &.store-field-address-country {
            margin-bottom:39px;
        }

}
.core-body-window {
    .core-section {
        margin-top: 48px;
    }
    .core-section-header {
         font-size: $h4-font-size;
    }
    .core-section-body {
        padding: 16px 0 0 0;
        background: #FFF;
    }
}

.core-form-field-group-body {
    margin-top:24px;
}
.store-footer {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin: 30px 0;
    padding: 20px;
    a {
        &:link {
            color: #00bfff;
        }
        &:visited {
            color: #00bfff;
        }
        &:hover {
            color: #ffa500;
            text-decoration: none;
        }
    }
}
.store-product-detail-description-short {
    margin-left: 1em;
}
.store-product-list-item {
    margin-bottom: 0;
}
.store-product-list-item-title {
    letter-spacing: 1px;
    font: normal 400 18px/22px Helvetica, Arial, sans-serif;
    margin: 0 0 18px 0;
}
.store-product-list-item-description {
    margin-top: 1em;
    margin-bottom: 1em;
}
.store-product-detail {
    margin: 0 0 35px 0;
}
.store-product-detail-title {
    font: normal 600 25px/30px Helvetica, Arial, sans-serif;
    margin: 0 0 8px 0;
    display: block;
}
.store-product-detail-pricing {
    font: normal 400 16px/19px Helvetica, Arial, sans-serif;
    display: block;
    margin: 0;
}
.core-form-field-group-header {
    font-size: $h5-font-size;
}

.store-product-detail-offers {
    font-size:$font-size-base;
}
.store-page-navigation {
    border-top: 1px dotted #ddd;
}
.store-product-detail-quantity {
    margin-top: 10px;
}
.store-product-detail-description {
    margin-bottom: 1em;
}
.store-product-option-groups {
    padding-left: 1em;
    padding-right: 1em;
}

.store-product-pricing-tiered-table {
  width: 400px;
  margin-bottom: 1rem;
  border:1px solid $gray-400;
  color: #5b6482;
}

.store-product-pricing-tiered-table th,
.store-product-pricing-tiered-table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid $gray-400;
}

.store-product-pricing-tiered-table thead th {
  vertical-align: bottom;
  // border-bottom: 2px solid $gray-400;
}

.store-product-pricing-tiered-table tbody + tbody {
  border-top: 2px solid $gray-400;
}

.store-product-pricing-tiered-table-price {
        span {
        color:$blue2;
        font-weight: bold;
        font-size:$h5-font-size;

        }
    
}

.store-product-pricing-tiered-table-level {
    color:$gray-800;
    font-weight: 500;
    font-size:$h6-font-size;
}

.store-product-pricing-tiered-table {
    border-collapse: collapse !important;
  }
  .store-product-pricing-tiered-table td,
  .store-product-pricing-tiered-table th {
    background-color: #fff !important;
  }


.core-form-field-body-note {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #666;
}

.core-messages {
        background-color: #FAFAFA;
    border-color: #E6E6E6;
    font-weight: bold;
    ul {
        line-height: 2;
    }
    .core-message-warn, .core-message-error, .core-message-fatal {
        color:$red;
        font-size:0.9rem;
    }

    .core-message-info {
        color:darken($cyan, 15%);
        font-size:0.9rem;
    }
}
.steps {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    color: $gray-900;
    margin: 50px 0 20px 0;
}
.snumber {
    background-color: #FFF;
    border: 1px solid $gray-400;
    border-radius:100%;
    color:  $gray-900;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    width: 20px;
}
.step1 {
    display: block;
    float: left;
    margin-right: 90px;
}
.step2 {
    display: block;
    float: left;
    margin-right: 90px;
}
.step3 {
    display: block;
    float: left;
}
.store-page-product {
    .steps {
        display: block;
    }
    .step1 {
        font-weight: bold;
        color: $primary;
        .snumber {
            color:$primary;
            border-color:$primary;
        }
    }
}
.store-page-product-customer {
    .steps {
        display: block;
    }
    .step1 {
        font-weight: bold;
        color: $primary;
        .snumber {
            color:$primary;
            border-color:$primary;
        }
    }
}
.store-page-customer {
    .steps {
        display: block;
    }
    .step1 {
        font-weight: bold;
        color: $primary;
        .snumber {
            color:$primary;
            border-color:$primary;
        }
    }
}
.store-page-confirm {
    .steps {
        display: block;
    }
    .step2 {
        font-weight: bold;
        color: $primary;
        .snumber {
            color:$primary;
            border-color:$primary;
        }
    }
    .checkmark1 {
        display: inline;
    }
}
.store-page-complete {
    .steps {
        display: block;
    }
    .step3 {
        font-weight: bold;
        color: #000;
    }
    .checkmark1 {
        display: inline;
    }
    .checkmark2 {
        display: inline;
    }
}
.checkmark1 {
    display: none;
}
.checkmark2 {
    display: none;
}
.store-action-list {
    margin-top: 24px;
    .store-action {
        a {
            font-weight: 600;
            margin-right: 16px;
        }
    }
}
.store-order-item-title {
    font-size: 16px;
    font-weight: 400;
}
.store-order-price {
    font-size: 14px;
    line-height: 18px;
}
.store-order-item-base {
    // padding: 8px;
    // background: #EEE;

}
.store-order-item-title {
    color:$gray-900;
    font-size:$h6-font-size;
    font-weight: bold;
}
.store-order-items {
    // border-top:1px solid $gray-400;
    // border-bottom:1px solid $gray-400;
}
.store-order-item-group {
    &.store-order-item-group-base {
        margin:0;
        padding:16px 0;
            border-top:1px solid $gray-400;
    border-bottom:1px dotted $gray-400;
    }
}  
.store-action-next {

        & > .store-action-command {
            background-color:$primary;
        }

} 

.store-order-price-label {
    font-weight: normal;
    width: 80%;
}
.store-order-price {
    &.store-order-price-total {
        margin-top:16px;
        padding-bottom:16px;
        .store-order-price-label,
        .store-value-money {
            font-size:$h5-font-size;

        }
          .store-value-money {
            font-weight: bold;
            font-size:$h4-font-size;
            color:$gray-900;
          }
    }
}



.store-order-pricing {
    margin-top:16px;
    // border-top:1px solid $gray-400;
    border-bottom:1px dotted $gray-400;
}


.store-decorate-button {
    .store-page-navigation {
        .store-action-command {
            display: inline-block;
              font-weight: 400;
              color: #5b6482;
              text-align: center;
              vertical-align: middle;
              cursor: pointer;
              color: #fff;
              background-color: #0068fc !important;
              border-color: #0068fc !important;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
              padding: 0.75rem 2rem !important;
              font-size: 1rem !important;
              line-height: 1.5 !important;
              border-radius: 5rem !important;
              -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
                &:hover,
                &:focus,
                &:active {
                        color: #fff !important;
                      background-color: #0058d6 !important;
                      border-color: #0053c9 !important;
                }
        }
    }
}

